name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: iqaapp
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Build Docker Image
        run: |
          docker buildx build --build-arg "JWT_SECRET=${{ secrets.JWT_SECRET }}" \
                        --build-arg "DB_HOST=${{ secrets.DB_HOST }}" \
                        --build-arg "DB_PORT=${{ secrets.DB_PORT }}" \
                        --build-arg "DB_USERNAME=${{ secrets.DB_USERNAME }}" \
                        --build-arg "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" \
                        --build-arg "DB_NAME=${{ secrets.DB_NAME }}" \
                        --build-arg "SERVERPORT=${{ secrets.SERVERPORT }}" \
                        --build-arg "EMAIL_TRANSPORT_USER=${{ secrets.EMAIL_TRANSPORT_USER }}" \
                        --build-arg "EMAIL_TRANSPORT_PASSWORD=${{ secrets.EMAIL_TRANSPORT_PASSWORD }}" \
                        --build-arg "ETHEREAL_USER=${{ secrets.ETHEREAL_USER }}" \
                        --build-arg "ETHEREAL_PASS=${{ secrets.ETHEREAL_PASS }}" \
                        --no-cache \
                        -t iqaapp/backapp:latest \
                        .
      - name: Push Docker image to Docker Hub
        run: docker push iqaapp/backapp:latest

      - name: Display Docker images
        run: docker images

  prod:
    runs-on: self-hosted
    name: 'PROD deploy'
    needs: build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Restart deployment
        env:
          KUBE_DEPLOYMENT_NAME: backapp
          KUBE_NAMESPACE: default
        run: |
          kubectl delete secret postgres-secret --namespace=default --ignore-not-found=true
          kubectl create secret generic postgres-secret --from-literal=POSTGRES_DB=${{ secrets.DB_NAME }} --from-literal=POSTGRES_USER=${{ secrets.DB_USERNAME }} --from-literal=POSTGRES_PASSWORD=${{ secrets.DB_PASSWORD }} --namespace=default
          kubectl apply -f /home/user/server/project/infra/server/cluster.yaml
          DEPLOYMENT_NAME=${KUBE_DEPLOYMENT_NAME:-backapp}
          NAMESPACE=${KUBE_NAMESPACE:-default}

          kubectl rollout restart deployment/$DEPLOYMENT_NAME --namespace=$NAMESPACE
          kubectl rollout status deployment/$DEPLOYMENT_NAME --namespace=$NAMESPACE --timeout=5m
  test:
    runs-on: ubuntu-latest
    name: 'PROD test'
    needs: [build, prod]

    steps:
      - name: Deploy
        run: "echo 'Testing PROD'"
